{% extends "layout.html" %}

{% block main %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div style="width:100%;">
  <img id="img_ID" src="static/img/den/nav.png" usemap="#map" border="0" width="100%" alt="" />
</div>
<map id="map_ID" name="map">
  <form id="updateViewForm" action="/den" method="post">
  <!-- journal -->
  <area shape="rect" coords="417, 173, 588, 265" onmouseover="hover('den', 'journal');" onmouseout="unhover('den');" 
    onclick="sub('ignore', 'open3');"/>
  <!-- todo -->
  <area shape="rect" coords="532, 15, 620, 111" onmouseover="hover('den', 'todo');" onmouseout="unhover('den');"
    onclick="sub('ignore', 'open'); " />
  <!-- calendar -->
  <area shape="rect" coords="947, 9, 1066, 140" onmouseover="hover('den', 'calendar');" onmouseout="unhover('den');"
    onclick="" />
  <!-- newton's cradle-->
  <area shape="rect" coords="704, 169, 813, 257" onmouseover="hover('den', 'cradle');" onmouseout="unhover('den');"
    onclick="sub('ignore', 'open2');" />
  <!-- timer-->
  <area shape="rect" coords="1040, 152, 1184, 249" onmouseover="hover('den', 'timer');" onmouseout="unhover('den');"
    onclick="openNav('timerOverlay')" />
    <input type="hidden" name="updateViewHid" id="updateViewHid">
    <input type="submit" id="updateView" style="display: none;"  name="updateView">
</form>
</map>

<body id="mainBody">

  <div id="todoOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('todoOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">To-do</h1>

        <form action="/den" method="post">
          <div class="form-group">
            <label for="input">Add something to your to do list</label>
            <input name="input" id="input" autocomplete="off" type="text" class="form-control" placeholder="Enter something to do">
          </div>
          <button name="inputTodo" type="submit" class="btn btn-primary">Submit</button>
        </form>

        


        <table width="100%">

          <tbody>
            {% for row in rows %}
            <tr>

              <form action="/den" method="post">
                {% if row['checked'] == 0 %}
                <td width="5%"><input id="check{{row['id']}}" type="submit" name="check-todo" value="0"></td>
                {% elif row['checked'] == 1 %}
                <td width="5%"><input style="background-color: black" onclick="this.form.submit()"
                    id="check{{row['id']}}" type="submit" name="check-todo" value="1"></td>
                {% endif %}
                <input type="hidden" name="id" value="{{row['id']}}">
              </form>

              <!-- fix the ids because they are not right -->
              <td width="85%" style="text-align:left">{{row['task']}}</td>
              <form action="/den" method="post">
                <td width="10%"><button name="del-todo" id="del-{{row['id']}}" value="{{row['id']}}">delete</button>
                </td>
              </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div id="moodOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('moodOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Mood Tracker</h1>


        <div>
          <img id="img_ID2" src="static/img/den/mood/nav{{set}}.png" usemap="#map2" border="0" width="100%" alt="" />
        </div>
        <map id="map_ID" name="map2">

          <form id="moodForm" action="/den" method="post">
            <area shape="circle" coords="206, 232, 33" onmouseover="hover2('den/mood', '1');"
              onmouseout="unhover2('den/mood/nav{{set}}.png');" onclick="sub(mood='1')" />
            <area shape="circle" coords="280, 232, 33" onmouseover="hover2('den/mood', '2');"
              onmouseout="unhover2('den/mood/nav{{set}}.png');" onclick="sub(mood='2')" />
            <area shape="circle" coords="348, 232, 33" onmouseover="hover2('den/mood', '3');"
              onmouseout="unhover2('den/mood/nav{{set}}.png');" onclick="sub(mood='3')" />
            <area shape="circle" coords="418, 232, 33" onmouseover="hover2('den/mood', '4');"
              onmouseout="unhover2('den/mood/nav{{set}}.png');" onclick="sub(mood='4')" />
            <area shape="circle" coords="480, 232, 33" onmouseover="hover2('den/mood', '5');"
              onmouseout="unhover2('den/mood/nav{{set}}.png');" onclick="sub(mood='5')" />

            <input type="hidden" name="moodInput" id="moodInput">
            <input type="submit" id="moodsub" style="display: none;" name="mood">
          </form>
        </map>

      </div>
    </div>
  </div>

  <div id="journalOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('journalOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: hidden;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Journal</h1>
      </div>
      
      <div style="background-color: coral; width: 20%; height: 100%; display: block; float: left;">
          <h2>Mood</h2>
        
        <div style="height:20%">
          <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
          
          <!-- CHART may have to move to Jinja -->
          <script>
              const xValues = ["Positive", "Neutral", "Negative"];
              // these values will be based on the sentiment of the conversation using python 
              // have to move this into a js jinja block 
              // the overall sentiment will be added to the graph for each day in chart 
              const yValues = [5, 3, 5];
              const barColors = [
                "red",
                "yellow",
                "green",
              ];
              
              new Chart("myChart", {
                type: "pie",
                data: {
                  labels: xValues,
                  datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                  }]
                },
                options: {
                  legend:
                    {display:false},
                  title: {
                    display: false,
                    text: "World Wide Wine Production 2018"
                  }
                }
              });
          </script>

        </div>
        <!--Change font size  -->
        <h2>Reccomended</h2>
        <!-- based on values with emotional analysis -->
        <p> API Key </p>
        
        <form action="/den" method="post">
          <input name="api" id="api" type="text" autocomplete="off" class="form-control" placeholder="Enter something to do">
          <button name="apiKey" type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
        {% endwith %}

      </div>

      <div style="background-color: ghostwhite; width: 80%; height: 100%; display: block; float: left; overflow-y: auto;" id="chatBox">
        <h1> Chat </h1>

        <!-- Example div for user input -->
        {% for journal_row in journal_rows %}
        <div style="text-align: left;
          {% if journal_row['author'] == 'AI' %} background-color: floralwhite; {% endif %}
          {% if journal_row['author'] == 'Me' %} background-color: rgb(231, 213, 177); {% endif %}
          display: inline-block; width: 100%; margin-bottom: 10px; padding: 5px; padding-bottom: 20px; padding-top: 20px"> 

            <div style="width: 10%; height: 100%; float: left;">
              {% if journal_row['author'] == 'AI' %}
              <!-- ai icon -->
              <img src="static/img/den/personIcon.png" alt="Person icon" style="object-fit: cover; width: 100%; height: auto;">
              {% endif %}

              {% if journal_row['author'] == 'Me' %}
              <img src="static/img/den/personIcon.png" alt="Person icon" style="object-fit: cover; width: 100%; height: auto;">
              {% endif %}
              <p>{{ journal_row['author'] }}</p>
            </div>     
            <div style="float: left; width: 90%;">{{ journal_row['text'] }}</div>
        </div>
        {% endfor %}
      

        <!-- Blank div for control -->
        <div style="height: 25%;"> </div>
        
      
        <div style="position:absolute;
          
          bottom:10px;
          left: 35%;
          z-index:1;
          height: 10%;
          ">
          
          <button style="float: left;" onclick="document.getElementById('chatBox').scrollTop = document.getElementById('chatBox').scrollHeight;" class="btn btn-primary" >V</button>
          
          <form style="float: left;" action="/den" method="post">
            <input style="float: left; width: 85%" name="journalInput" id="journalInput" type="text" autocomplete="off" class="form-control" placeholder="Ask a question">
            <button style="float: left;" name="journalQuestion" type="submit" class="btn btn-primary">></button>
          </form>    
        </div>
      </div>
      
      </div>
    </div>
  </div>

  <div id="timerOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('timerOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Productivity Timer</h1>

        <div style="display:inline">

          <form>
            <h2 style="display:inline"> <input dir="rtl" type=number min="0" max="100" id="mins" style="  border: none;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            padding: none;
            background: none;">
            </h2><h2 style="display:inline">:</h2> 
            <h2 style="display:inline"> <input type=number min="0" max="100" id="secs" style="  border: none;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            padding: none;
            background: none;">
            </h2>
          </form>
          
  <input type=button id="play" value="start" onclick="start()">
  <input type=button id="pause" value="stop" onclick="stop()">
  <input type=button id="reset" value="reset" onclick="reset()">
<p id="demo"> meow</p>
          
        <div>
          <script> 
          var input = document.getElementById('mins'); // get the input element
          input.addEventListener('input', resizeInput); 
          // bind the "resizeInput" callback on "input" event
          resizeInput.call(input); // immediately call the function
          function resizeInput() {
            this.style.width = this.value.length * 8 + 55 + "px";}

          var input = document.getElementById('secs'); // get the input element
          input.addEventListener('input', resizeInput); 
          // bind the "resizeInput" callback on "input" event
          resizeInput.call(input); // immediately call the function
          function resizeInput() {
            this.style.width = this.value.length * 8 + 60 + "px";}
          </script>

      </div>
    </div>
    </div>
  </div>
  </div>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <div style="background-color: antiquewhite;" class="topcorner">
    <h2 style="display:inline;" class="mins2"></h2>
    <h2 style="display:inline;">:</h2> 
    <h2 style="display:inline;" class="secs2"></h2>
  </div>

  <button type="button" onclick="location.href='/park'; startUp();" id="welcome-button"
        class="btn btn-success, topleft">begin</button>
  <!-- <a class="source" href="https://www.youtube.com/watch?v=PIiMSMz7KzM">How to build a Countdown Timer in JavaScript - dcode</a> -->

  <style type="text/css">
    .topcorner{
      position:absolute;
      top:0;
      right:0;
      z-index:1;
     }
   </style>

   <style type="text/css">
    .topleft{
      position:absolute;
      top:0;
      left:0;
      z-index:1;
     }
   </style>

  {% block javascript %}

  {% if open %}
  <script>
  document.getElementById('todoOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}

  {% if open2 %}
  <script>document.getElementById('moodOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}

  {% if open3 %}
  <script>document.getElementById('journalOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}
  
  {% endblock %}

<script>
    window.onload = function() {
      startUp(); // Execute shared code when this page loads
    };
  </script>
  
  <script src="static/script.js"></script>
  <script src="static/den.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>


{% endblock %}

