{% extends "layout.html" %}

{% block main %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width:100%;">
  <img id="img_ID" src="static/img/den/nav.png" usemap="#map" border="0" width="100%" alt="" />
</div>
<map id="map_ID" name="map">
  <form id="updateViewForm" action="/den" method="post">
  <!-- journal -->
  <area shape="rect" coords="630, 444, 821, 485" onmouseover="hover('den', 'journal');" onmouseout="unhover('den');" 
    onclick="sub('ignore', 'open3');"/>
  <!-- todo -->
  <area shape="rect" coords="485, 137, 669, 342" onmouseover="hover('den', 'todo');" onmouseout="unhover('den');"
    onclick="sub('ignore', 'open'); " />
  <!-- chart -->
  <area shape="rect" coords="154, 135, 424, 335" onmouseover="hover('den', 'calendar');" onmouseout="unhover('den');"
    onclick="sub('ignore', 'open4')" />
  <!-- newton's cradle-->
  <area shape="rect" coords="236, 353, 458, 485" onmouseover="hover('den', 'cradle');" onmouseout="unhover('den');"
    onclick="sub('ignore', 'open2');" />
  <!-- timer-->
  <area shape="circle" coords="1265, 108, 24" onmouseover="hover('den', 'timer');" onmouseout="unhover('den');"
    onclick="openNav('timerOverlay')" />

  <!-- home  -->
  <area shape="circle" coords="1180, 108, 24" onmouseover="hover('den', 'home');" onmouseout="unhover('den');"
      onclick="location.href='/'; startUp();" />
    
    <input type="hidden" name="updateViewHid" id="updateViewHid">
    <input type="submit" id="updateView" style="display: none;"  name="updateView">
</form>
</map>

<body id="mainBody">

  <div id="todoOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('todoOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">To-do</h1>

        <form action="/den" method="post">
          <div class="form-group">
            <label for="input">Add something to your to do list</label>
            <input name="input" id="input" autocomplete="off" type="text" class="form-control" placeholder="Enter something to do">
          </div>
          <button name="inputTodo" type="submit" class="btn btn-primary">Submit</button>
        </form>

        


        <table width="100%">

          <tbody>
            {% for row in rows %}
            <tr>

              <form action="/den" method="post">
                {% if row['checked'] == 0 %}
                <td width="5%"><input style = "background-color: whitesmoke; border-radius: 50%; border-color: whitesmoke; color: whitesmoke;" id="check{{row['id']}}" type="submit" name="check-todo" value="0"></td>
                {% elif row['checked'] == 1 %}
                <td width="5%"><input style="background-color: sandybrown; border-radius: 50%; border-color: sandybrown; color: sandybrown;" onclick="this.form.submit()"
                    id="check{{row['id']}}" type="submit" name="check-todo" value="1"></td>
                {% endif %}
                <input type="hidden" name="id" value="{{row['id']}}">
              </form>

              <!-- fix the ids because they are not right -->
              <td width="85%" style="text-align:left">{{row['task']}}</td>
              <form action="/den" method="post">
                <td width="10%"><button name="del-todo" id="del-{{row['id']}}" value="{{row['id']}}" class="btn btn-danger">X</button>
                </td>
              </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div id="moodOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('moodOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Mood Tracker</h1>


        <div>
          <img id="img_ID2" src="static/img/den/mood/nav{{setMood}}.png" usemap="#map2" border="0" width="100%" alt="" />
        </div>
        <map id="map_ID" name="map2">

          <form id="moodForm" action="/den" method="post">
            <area shape="circle" coords="206, 232, 33" onmouseover="hover2('den/mood', '1');"
              onmouseout="unhover2('den/mood/nav{{setMood}}.png');" onclick="sub(mood='1')" />
            <area shape="circle" coords="280, 232, 33" onmouseover="hover2('den/mood', '2');"
              onmouseout="unhover2('den/mood/nav{{setMood}}.png');" onclick="sub(mood='2')" />
            <area shape="circle" coords="348, 232, 33" onmouseover="hover2('den/mood', '3');"
              onmouseout="unhover2('den/mood/nav{{setMood}}.png');" onclick="sub(mood='3')" />
            <area shape="circle" coords="418, 232, 33" onmouseover="hover2('den/mood', '4');"
              onmouseout="unhover2('den/mood/nav{{setMood}}.png');" onclick="sub(mood='4')" />
            <area shape="circle" coords="480, 232, 33" onmouseover="hover2('den/mood', '5');"
              onmouseout="unhover2('den/mood/nav{{setMood}}.png');" onclick="sub(mood='5')" />
            

            <input type="hidden" name="moodInput" id="moodInput">
            <input type="submit" id="moodsub" style="display: none;" name="mood">
          </form>
        </map>

      </div>
    </div>
  </div>

  <div id="journalOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('journalOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: hidden;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Journal</h1>
      </div>
      
      <div style="background-color: coral; width: 20%; height: 100%; display: block; float: left;">
          <h2>Mood</h2>
        <!-- <h2 id="demochart"></h2> -->

        <div style="height:20%">
          <canvas id="journalChart" style="width:100%;max-width:700px"></canvas>
          
          <!-- CHART may have to move to Jinja -->
          {% if sentiment_results is defined %}
            <meta id="chart-data" data-pos="{{sentiment_results['pos']}}" data-neg="{{sentiment_results['neg']}}" data-neu="{{sentiment_results['neu']}}">
          {% else %}
          <meta id="chart-data" data-pos="0" data-neg="0" data-neu="0">
          {% endif %}
            <!-- <meta id="chart-data-pos" data-pos="{{sentiment_results}}"> -->
          <script>
            var pos_data = $('#chart-data').data("pos");
            var neg_data = $('#chart-data').data("neg");
            var neu_data = $('#chart-data').data("neu");
            //document.getElementById("demochart").innerHTML = pos_data;
            const xValues = ["Positive", "Neutral", "Negative"];
            // these values will be based on the sentiment of the conversation using python 
            // have to move this into a js jinja block 
            // the overall sentiment will be added to the graph for each day in chart 
            const yValues = [pos_data, neg_data, neu_data];
            const barColors = [
              "green",
              "yellow",
              "red",
            ];
            
            new Chart("journalChart", {
              type: "pie",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                legend:
                  {display:false},
                title: {
                  display: false,
                  text: "Mood"
                }
              }
            });
        </script>
        

        </div>
        <!--Change font size  -->
        <!-- <h2>Reccomended</h2> -->
        <!-- based on values with emotional analysis -->
        <p> API Key </p>
        
        <form action="/den" method="post">
          <input name="api" id="api" type="text" autocomplete="off" class="form-control" placeholder="Enter API key">
          <button name="apiKey" type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
        {% endwith %}

      </div>

      <div style="background-color: ghostwhite; width: 80%; height: 100%; display: block; float: left; overflow-y: auto;" id="chatBox">
        <h1> Chat </h1>

        <!-- Example div for user input -->
        {% for journal_row in journal_rows %}
        <div style="text-align: left;
          {% if journal_row['author'] == 'AI' %} background-color: floralwhite; {% endif %}
          {% if journal_row['author'] == 'Me' %} background-color: rgb(231, 213, 177); {% endif %}
          display: inline-block; width: 100%; margin-bottom: 10px; padding: 5px; padding-bottom: 20px; padding-top: 20px"> 

            <div style="width: 10%; height: 100%; float: left;">
              {% if journal_row['author'] == 'AI' %}
              <!-- ai icon -->
              <img src="static/img/den/personIcon.png" alt="Person icon" style="object-fit: cover; width: 100%; height: auto;">
              {% endif %}

              {% if journal_row['author'] == 'Me' %}
              <img src="static/img/den/personIcon.png" alt="Person icon" style="object-fit: cover; width: 100%; height: auto;">
              {% endif %}
              <p>{{ journal_row['author'] }}</p>
            </div>     
            <div style="float: left; width: 90%;">{{ journal_row['text'] }}</div>
        </div>
        {% endfor %}
      

        <!-- Blank div for control -->
        <div style="height: 25%;"> </div>
        
      
        <div style="position:absolute;
          
          bottom:10px;
          left: 35%;
          z-index:1;
          height: 10%;
          ">
          
          <button style="float: left;" onclick="document.getElementById('chatBox').scrollTop = document.getElementById('chatBox').scrollHeight;" class="btn btn-primary" >V</button>
          
          <form style="float: left;" action="/den" method="post">
            <input style="float: left; width: 85%" name="journalInput" id="journalInput" type="text" autocomplete="off" class="form-control" placeholder="Ask a question">
            <button style="float: left;" name="journalQuestion" type="submit" class="btn btn-primary">></button>
          </form>    
        </div>
      </div>
      
      </div>
    </div>
  </div>

  <div id="chartOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('chartOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: hidden; text-align: center;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Charts</h1>
      </div>
<h2 id="demochart2"></h2>
        <div style="height: 80%; width: 80%; text-align:center; margin-left: 10%;">
          <canvas id="myChart" style="width:100%; max-width:700px;"></canvas>
          
          <!-- CHART may have to move to Jinja -->
          {% if moodX is defined %}
          <h6 style="display:none"id="chartMoodX">{{moodX}}</h6>
          <h6 style="display:none"id="chartTrackerY">{{trackerY}}</h6> 
          <h6 style="display:none"id="chartJournalY">{{journalY}}</h6> 
          {% else %}
          <h6 style="display:none"id="chartMoodX">0</h6>
          <h6 style="display:none"id="chartTrackerY">0</h6> 
          <h6 style="display:none"id="chartJournalY">0</h6> 
          {% endif %}
            <!-- <meta id="chart-data-pos" data-pos="{{sentiment_results}}"> -->
          <script>
            var moodX = $('#chartMoodX').text();
            var trackerY = $('#chartTrackerY').text();
            var journalY = $('#chartJournalY').text();
            //document.getElementById("demochart2").innerHTML = moodX;

            var mychartX = moodX.split(" ");

          new Chart("myChart", {
            type: "line",
            data: {
              labels: mychartX,
              datasets: [{
                label: "Your Inputed Mood",
                data: trackerY.split(" "),
                borderColor: "rgb(84, 153, 199)",
                fill: false
              },{
                label: "Your Analyzed Mood",
                data: journalY.split(" "),
                borderColor: "green",
                fill: false
              }]
            },
            
            options: {
                legend: {display: true},
                spanGaps: true,
                scales: {
                   xAxes: [{
                      ticks: {
                      display: false //this will remove only the label
                      }
                }]
              },
              layout: {
                padding: {
                  left: 10
                }
                }
          }
        });
              
              
        </script>

      </div>
    </div>
  </div>


  <div id="timerOverlay" class="overlay">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('timerOverlay')">&times;</a>
    <div class="overlay-content" style="overflow-x: hidden;
    overflow-y: auto;">

      <div class="inner-overlay-content">
        <h1 style="text-align: center;">Productivity Timer</h1>

        
        <div style="display:inline;">

          <form style="margin-top: 100px;">
            <h2 style="display:inline"> <input dir="rtl" type=number min="0" max="100" id="mins" style=" border: none;
            display: inline;
            font-family: inherit;
            font-size: 100px;
            padding: none;
            background: none;
            width: 155px;">
            </h2><h2 style="display:inline; font-size: 100px;">:</h2> 
            <h2 style="display:inline; font-size: 100px;"> <input type=number min="0" max="100" id="secs" style="  border: none;
            display: inline;
            font-family: inherit;
            font-size: 100px;
            padding: none;
            background: none;
            width: 155px;">
            </h2>
          </form>

            <button id="play" onclick="start()" class="btn btn-info"><i class="fa fa-play" style="font-size: 25px; margin:5px;"></i></button>
            <button id="stop" onclick="stop()" class="btn btn-info"><i class="fa fa-pause" style="font-size: 25px; margin:5px;"></i></button>
            <button id="reset" onclick="reset()" class="btn btn-info"><i class="fa fa-refresh" style="font-size: 25px; margin:5px;"></i></button>
          <p style="display:none" id="demo"> meow</p>
          
        <div>

      </div>
    </div>
   </div>
  </div>
  </div>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <div style="background-color: rgb(254, 249, 231); padding: 5px; border-radius: 5px;" class="topcorner">
    <h2 style="display:inline;" class="mins2"></h2>
    <h2 style="display:inline;">:</h2> 
    <h2 style="display:inline;" class="secs2"></h2>
  </div>

  <button type="button" onclick="location.href='/'; startUp();" id="welcome-button"
        class="btn btn-success, topleft">begin</button>
  <!-- <a class="source" href="https://www.youtube.com/watch?v=PIiMSMz7KzM">How to build a Countdown Timer in JavaScript - dcode</a> -->

  <style type="text/css">
    .topcorner{
      position:absolute;
      margin: 5%;
      top:0;
      right:0;
      z-index:1;
     }
   </style>

   <style type="text/css">
    .topleft{
      position:absolute;
      top:0;
      left:0;
      z-index:1;
     }
   </style>


  {% block javascript %}

  {% if open %}
  <script>
  document.getElementById('todoOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}

  {% if open2 %}
  <script>document.getElementById('moodOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}

  {% if open3 %}
  <script>document.getElementById('journalOverlay').style.width = "100%";
  document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}

  {% if open4 %}
  <script>document.getElementById('chartOverlay').style.width = "100%";
    document.getElementById("mainBody").style.overflow = "hidden"</script>
  {% endif %}
  
  {% endblock %}

<script>
    window.onload = function() {
      startUp(); // Execute shared code when this page loads
    };
  </script>
  
  <script src="static/script.js"></script>
  <script src="static/den.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>


{% endblock %}

